body{
    background-color: #e9dbcb;
}

.cabecalho{
    font-family: 'Great Vibes', cursive;
font-family: 'Playfair Display', serif;
}
.h1{
    font-family: 'Great Vibes', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Shrikhand', serif;
}

